.comment_card {
	color : blue;
    box-shadow: 2px 2px 5px black;
}
.col-9 > input {
	font-size: 2rem; 
	width: 100%;
}

button {
	font-size: 1rem;
}

.comment-author {
	color: purple;
	font-weight: bold;
}

.comment-input > div > input {
	width: 100%;
	padding: 1rem;
	margin : 1rem;
}
.comment-input > button {
	width: 100%;
}
.confirmButton {
	color:red;
}
.comment_card {
	margin : .5rem;
	padding: .5rem;
}

.comment-input-container {
	border-style : solid;
	border-color: black;
	margin : .5rem;
	padding: .5rem;
}
.news-contents {
	margin : .5rem;
	padding: .5rem;
}

.input{
	width : 100%;
}
.login-container{
	border-style : solid;
	border-color: yellow;
	position: absolute;
	top: 35%;
	left: 23%;
	display: flex;
	flex-direction: column;
	width: 50%;
	visibility:hidden;
}
.login-container > button {
	padding: 1rem;
	margin: 0.5rem;
}
.login-container.visible {
	visibility:visible;
}

